html,
body {
    height: 100%;
    width: 100%;
}

body {
    color: #CC0000;
    background-color: #3399FF;
    background-size: cover;
}




p {
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
}





#title h1,
#title h2,
#title h3 {
    color: #000000;
}

#title {
    background: url('img/balloon-3.jpg');
    background-size: cover;
    text-align: center;
}

.carousel-inner > item > img
.carousel-inner > item > a > img{
    width: 100%;
    margin: auto;
}

