html,
body {
    height: 100%;
    width: 100%;
}

body {
    color: #CC0000;
    background-color: #3399FF;
    background-size: cover;
}




p {
    font-size: 40px;

}
    .tw {
        width: 100%;
        padding: 40px 0;
}
    .th {
        height: 100%;
    }


#title h1,
#title h2,
#title h3 {
    color: #000000;
}

.title {
    background: linear-gradient( rgba(15, 63, 173, 0.3), rgba(0, 127, 218, 1)), url('img/balloon-3.jpg') center no-repeat fixed;
    background-size: cover;
    text-align: center;
}

.carousel-inner > item > img
.carousel-inner > item > a > img{
    width: 100%;
    margin: auto;
}

