html,
body {
    height: 100%;
    width: 100%;
}

body {
    color: #FB0200;
    background-color: #00CCFE;
    background-size: cover;
}

 HEAD

p{
    font-size: 40px;
}



#title h1,
#title h2,
#title h3 {
    color: #c4d7f1;
}

#title {
    background: url('img/balloon-3.jpg');
    background-size: cover;
    text-align: center;
}
